# BigQuery Functions

Creating functions to be used in querying and transforming BigQuery tables

Reading in the required modules

In [ ]:
from google.cloud import bigquery
import re

In [ ]:
!pip install datalab --upgrade
#
%load_ext google.datalab.kernel
#
from google.datalab import bigquery
import google.datalab.bigquery as bq
#
set_datalab_project_id('project_id') # enter your project id here
#
%reload_ext google.cloud.bigquery

In [ ]:
import google.datalab as dl
import google.datalab.bigquery as bq
import google.datalab.storage as storage

#Import python pandas for data wrangling
import pandas as pd

 Creating the function to read and create a pivot table query from a table given the inputs

In [ ]:
# Enter the database name, table name, index column, columns to pivot and value column (by default 1)
def bq_custom_pivot(db_name, # enter the input database name
                    table_name, # input table name
                    index_cols, # index columns as a list: ['col1', 'col2']
                    col_def, # field to convert to column
                    val_def = 1, # value field to aggregate (By default it will carry out one-hot encoding)
                    val_agg = 'SUM'): # Aggregation function
        
        ## Reading in the indexes mentioned
        idx_fin = ""
        for i in range(0, len(index_cols)):
            idx = str(index_cols[i])

            if i == max(range(0, len(index_cols))):
                idx_fin += idx
            else:
                idx_fin += idx + ", "
        
        ## Identifying the columns to generate case when statements
        col_sql = "SELECT DISTINCT " + col_def + " FROM `" + db_name + "." + table_name + "`" + " WHERE " + col_def + " IS NOT NULL"
        col_query = bq.Query(col_sql)
        col_df = col_query.execute(output_options=bq.QueryOutput.dataframe()).result()
        
        ## Generating the case when statements
        case_qry = ""
        sel_qry = ""
        
        for i in range(0,len(col_df.iloc[:,0])):
            
            col_sel = str(col_df.iloc[i, 0])
            col_clean = re.sub('[^A-Za-z0-9]+', '', col_sel)
            
            if type(col_df.iloc[i, 0]) == str:
                case_prt = "(CASE WHEN " + col_def + " = " + "\"" + col_sel + "\"" + " THEN " + val_def + " ELSE 0 END) AS " + "Col_" + col_clean
            else:
                case_prt = "(CASE WHEN " + col_def + " = " + col_sel + " THEN " + val_def + " ELSE 0 END) AS " + "Col_" + col_clean
            
            sel_prt = "Col_" + col_clean

            if i == max(range(0,len(col_df.iloc[:,0]))):
                case_qry += case_prt
                sel_qry += sel_prt

            elif i == max(range(0,len(col_df.iloc[:,0]))) - 1:
                case_qry += case_prt + ", "
                sel_qry += sel_prt +", "
                
                
            else: 
                case_qry += case_prt + ", "
                sel_qry += sel_prt +", "
                
        agg_qry = ""
        for m in range(0, len(col_df.iloc[:, 0])):
            col_sel = str(col_df.iloc[m, 0])
            col_clean = re.sub('[^A-Za-z0-9]+', '', col_sel)
            agg_prt = val_agg + "(Col_" + col_clean + ") AS Col_" + col_clean
            
            if m >= max(range(0,len(col_df.iloc[:,0]))):
                agg_qry += agg_prt
            else:
                agg_qry += agg_prt + ", "
                
        ## Group By number of columns
        grp_qry =""
        for k in range(0, len(index_cols)):
            grp_col = str(k+1)
            if k == max(range(0, len(index_cols))):
                grp_qry += grp_col
            else:
                grp_qry += grp_col + ", "
                

        qry_1 = "WITH Q1 AS (SELECT " + idx_fin + ", " + case_qry + " " + " FROM `" + db_name + "." + table_name + "`)"
        
        qry_2 = " SELECT " + idx_fin + ", " + agg_qry +" FROM Q1 GROUP BY " + grp_qry 
        
        final_qry = qry_1 + qry_2
        
        return final_qry

In [ ]:
user_index = ["col1", "col2"] #list of index columns'
user_col = "vendor_name" #column to pivot
user_tbl = "input_table" # Input Table
user_db = "input_db" # Input database
user_val = "val_col" # Value column (By default one-hot encoding)

In [ ]:
# Creates a query string to generate the pivot
fin_qry = bq_custom_pivot(user_db, user_tbl, user_index, user_col, user_val)

In [ ]:
# Writes the bigquery table on Google Cloud
fin_query = bq.Query(liq_qry)
fin_job = liq_query.execute(output_options = bq.QueryOutput.table(name='output_db.tbl_name', 
                                                                    mode='overwrite'))